{% extends 'base.html' %}

{% block content %}
<div class="container col-xxl-8 px-4 py-5" bis_skin_checked="1">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5" bis_skin_checked="1">
      <div class="col-10 col-sm-8 col-lg-6" bis_skin_checked="1">
        <img src="https://wc1.prod1.arlocdn.net/p/e889a74abceb4cbfb349f69a00cd7867/d/Mr0D6rv7mjPLZ84YlTk7SGRqIpf7KCe4uhd2wwfd7ts1b6jY/iStock-1196997334.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6" bis_skin_checked="1">
        <h5 class="display-7 fw-bold lh-1 mb-3">Our Address:</h5>
        <p class="test">L'viv</p>

        <h5 class="display-7 fw-bold lh-1 mb-3">Email:</h5>
        <p class="test">tsapyura1999@gmail.com</p>


        <h5 class="display-7 fw-bold lh-1 mb-3">Our Phone:</h5>
        <p class="test"> +380632727589 </p>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start" bis_skin_checked="1"></div>

      </div>
    </div>
  </div>
{% endblock %}