<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
      {% for menu_item in all_menu_items_list %}
          {% if menu_item.url == '/products/add' and  not request.user.is_authenticated %}
          {% elif menu_item.url == '/products/category/add' and not user.is_authenticated %}
          {% else %}
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ menu_item.url }}">{{ menu_item.name }}</a>
              </li>
          {% endif %}
      {% endfor %}
  </ul>
</div>
