{% extends 'base.html' %}

{% block content %}
    {% load categories %}
    {% all_categories category=category %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Learning Products</h1>
                {% for product in products %}
                    {% if product.approved == True and product.display_on_main_page == True %}
                        <div class="card" style="width: 18rem;">
                          <div class="card-body  d-flex flex-column">
                            <h5 class="card-title">{{ product.title }}</h5>
                              <div class="card-categories">
                              {% for category in categories %}
                                  {% if product in category.products.all %}
                                    <li>{{ category }}</li>
                                  {% endif %}
                              {% endfor %}
                              </div>
                              <div class="description">
                              <p>{{ product.description|truncatechars:80 }}</p>
                              </div>
                              <div>
                                  {% if request.user.id == product.user.id %}
                                    <a href="{% url 'edit_product' id=product.id %}" class="product-button btn btn-primary btn-sm">Update</a>
                                  {% endif %}
                                  <a href="{% url 'product_details' id=product.id %}" class="product-button btn btn-primary btn-sm">Details</a>
                              </div>
                          </div>
                        </div>
                        {% endif %}
                    {% endfor %}

                </div>
        </div>
                        {% if products.has_other_pages %}
                        <nav aria-label="Page navigation example" style=" width: 6em; margin-left: auto; margin-right: auto;">
                          <ul class="pagination">

                            {% if products.has_previous %}

                              <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">
                                  <span aria-hidden="true">&laquo;</span>
                              </a>
                              </li>
                            {% else %}
<!--                              <li class="page-item"><span>&laquo;</span></li>-->
                            {% endif %}
                            {% for i in products.paginator.page_range %}
                              {% if users.number == i %}
                                <li class="page-item"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                              {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if products.has_next %}
                              <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">&raquo;</a></li>
                            {% else %}
<!--                              <li class="page-item">-->
<!--                                  <span aria-hidden="true">&raquo;</span>-->
<!--                                    <span class="sr-only">Next</span>-->
<!--                                  </li>-->
                            {% endif %}
                          </ul>
                        {% endif %}
                        </nav>

    </div>

{% endblock %}