{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center">Update Product</h1>
        <form method="POST" action="{% url 'edit_product' id=product.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" id="title" aria-describedby="title" value="{{ product.title }}">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description">{{ product.description }}</textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Categories</label>
                <select class="form-select" multiple aria-label="multiple select example" name="categories">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Price</label>
                <input type="number" class="form-control" name="price" id="price" aria-describedby="price" value="{{ product.price }}">
            </div>
            {% if user.is_superuser %}
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" name="approved" id="approved"
                     {% if product.approved %}
                        checked
                     {% endif %}
                  >Approved
                </div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" name="display_on_main_page" id="display_on_main_page"
                   {% if product.approved %}
                        checked
                    {% endif %}>
                    View on main page
                </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}